div.CubeEffect
    h1.CubeEffect__title Coord: 
    div.CubeEffect__container(@mousedown="twistTheCube")
        div.CubeEffect__inner-element.element-1
            //- div.CubeEffect__innerDiv
        div.CubeEffect__inner-element.element-2
            //- div.CubeEffect__innerDiv
        div.CubeEffect__inner-element.element-3
            //- div.CubeEffect__innerDiv
        div.CubeEffect__inner-element.element-4
            //- div.CubeEffect__innerDiv
        div.CubeEffect__inner-element.element-5
            //- div.CubeEffect__innerDiv
        div.CubeEffect__inner-element.element-6
            //- div.CubeEffect__innerDiv
        div.CubeEffect__inner-element.element-7
            //- div.CubeEffect__innerDiv