div
    footer.footer
        div.footer__col-1
            ul.footer__list
                li Lorem ipsum dolor sit amet.
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
        div.footer__col-2
            ul.footer__list
                li Lorem ipsum dolor sit amet.
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
        div.footer__col-3
            ul.footer__list
                li Lorem ipsum dolor sit amet.
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
        div.footer__col-4
            ul.footer__list
                li Lorem ipsum dolor sit amet.
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
                li Lorem ipsum dolor sit amet
