div.goods
    h1 Page goods
    div.goods__container
        div.goods__card-goods(@mousedown="blockTransferDown")
        div.goods__card-goods(@mousedown="blockTransferDown")

        //- @mousedown="blockTransferDown"
        //- @mousemove="blockTransferUp"
        //- @mouseup="blockTransferUp"