div
    header
        h1 Logo
        div.header
            ul.header__sub-menu
                li
                    router-link(to="/") Card
                li
                    router-link(to="/Test") Circle
                li
                    router-link(to="/Goods") Square
                li
                    router-link(to="/CubeEffect") CubeEffect
                li
                    router-link(to="/ColorPalette") ColorPalette
                li
                    router-link(to="/Spiro") Spiro
                li
                    router-link(to="/Particles") Particles
                li
                    router-link(to="/Lightnings") Lightnings