div.home
    h1 Hello Home
    div.home__container
        div.home__card(@mousemove="rotateStart" @mouseout="rotateStop")
        div.home__card(@mousemove="rotateStart" @mouseout="rotateStop")
        div.home__card(@mousemove="rotateStart" @mouseout="rotateStop")
