div
    div#container-for-input
        div
            span Радиус 1
            input#radius-1(type="number" placeholder="Введите значение")
        div
            span Радиус 2
            input#radius-2(type="number" placeholder="Введите значение")
        div
            span Диаметр
            input#diameter(type="number" placeholder="Введите значение")
        div
            span Выберите цвет
            input#spiroColor(type="color")
    


    canvas#spiro(width="600" height="600")