#color
{
    width: 500px;
    height: 600px;
    margin: 100px;
    border: 5px solid black;
    box-sizing: border-box;
}
#addColor
{
    width: 100px;
    height: 50px;
}
#addSize
{
    width: 68px;
    margin-left: 20px;
    height: 20px;
    font-size: 20px;
}
#clearFon
{
    width: 150px;
    height: 50px;
    background: grey;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}
#clearFon:hover
{
    background: white;
    color: black;
}