.CubeEffect
{
    perspective: 900px;
    // margin: 80px;
    text-align: center;
    height: 500px;
    position: relative;
    &__container
    {
        position: absolute;
        top: 30%;
        left: 38%;
        width: 300px;
        height: 300px;
        transform-origin: 50% 50% -150px;
        transform-style: preserve-3d;
        z-index: 11;
        cursor: grab;
    }
    &__inner-element
    {
        width: 300px;
        height: 300px;
        background: rgba($color: #000000, $alpha: .3);
        background: -moz-radial-gradient( rgba(0,0,0,.1) rgba(0,0,0,.5));
        position: absolute;
        // border: 10px solid #000;
        // border-radius: 10px;
        font-size: 15px;
        color: #fff;
        line-height: 300px;
        text-align: center;
        transform-origin: 50% 50% -150px;
    }
    &__inner-element.element-1
    {
        background-color: green;
    }
    &__innerDiv
    {
        position: absolute;
        background: url("../../images/test.jpg") no-repeat center;
        width: 300px;
        height: 300px;
        z-index: 10;
    }
    &__background
    {
        z-index: 10;
        background: black;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
    &__inner-element.element-2
    {
        transform: rotateY(90deg);
        background-color: palegreen;
    }
    &__inner-element.element-3
    {
        transform: rotateY(-90deg);
        background-color: palegoldenrod;

    }
    &__inner-element.element-4
    {
        transform: rotateX(90deg);
        background-color: powderblue;

    }
    &__inner-element.element-5
    {
        transform: rotateX(-90deg);
        background-color: olivedrab;

    }
    &__inner-element.element-6
    {
        transform: rotateY(180deg);
        background-color: olive;
    }
    &__inner-element.element-7
    {
        transform: rotateY(90deg);
        background-color: indianred;
    }
}