footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b3b3b3;
    margin-top: 30px;
    
    div
    {
        width: 25%;
    }
    div:last-child
    {
        width: 22%;
    }
    ul
    {
        li
        {
            list-style: none;
            margin-top: 10px;
            font-size: 15px;
            color: green;
            cursor: pointer;
        }
    }
}