*{

  font-family: Arial, Helvetica, sans-serif;
}
.goods
{
  &__container
  {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: 800px;
    border: 5px solid black;
  }
  &__card-goods
  {
    position: absolute;
    top: 150px;
    left: 80px;
    width: 25%;
    width: 250px;
    height: 200px;
    background-color: red;
    cursor: grab;
  }
  &__card-goods:nth-of-type(2)
  {
    top: 100px;
    left: 616px;
  }
  &__card-goods:nth-of-type(3)
  {
    top: 476px;
    left: 487px;
  }
}