
header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #b3b3b3;
    h1
    {
        margin-left: 20px;
        margin-top: 6px;
        color: red;
    }
}
.header
{
    margin-right: 40px;
    &__sub-menu{
        display: flex;
        flex-direction: row;

        li
        {
            list-style: none;
            margin-left: 30px;

            a
            {
                color: green;
                text-decoration: none;
                font-size: 18px;
            }
        }
    }

}