* {
  box-sizing: border-box;
}
.home
{
  &__container
  {
    display: flex;
    height: 35vh;
    background-color: #ffbe76;
    justify-content: space-around;
    align-items: center;
  }
  &__card
  {
    transform-style: preserve-3d;
    background-color: #fff;
    width: 250px;
    height: 250px;
    transition: transform 0.2s; 
  }
}