// .circle
// {
//     &__container {
//         position: relative;
//         margin: 0 auto;
//         border: 3px solid black;
//         border-radius: 100%;
//         width: 500px;
//         height: 500px;
//         margin-top: 30px;
//     }
//     &__inner_container
//     {
//         position: absolute;
//         top: 200px;
//         left: 200px;
//         margin: 0 auto;
//         border-radius: 100%;
//         width: 100px;
//         height: 100px;
//         background: grey;
//         z-index: -99999;
//     }
// }
#circle
{
    width: 500px;
    height: 500px;
    margin: 100px;
    border: 3px solid black;
    border-radius: 50%;
}