#spiro
{
    width: 600px;
    height: 600px;
    margin: 100px;
    border: 3px solid black;
}
#container-for-input
{
    display: flex;
    justify-content: space-between;
    width: 60%;
    span
    {
        display: block;
        margin: 10px 0 10px 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    input
    {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
    }
    input:last-child()
    {
        width: 100px;
    }
}