<template lang="pug">
    div#app
      Header
      router-view
      Footer
  </template>
<script>
import Header from "./components/header"
import Footer from "./components/footer"
export default {
  name: 'app',
  components:
  {
      Header,
      Footer,
  }
}
</script>
<style lang="scss">
  #app {
    width: 1200px;
    margin: 0 auto;
  }
</style>
